body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0d1f327a;
    text-align: center;
    border-radius: 20px;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"],
.box input[ type="phone"],
.box input[type="email"], 
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #48cfe7;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[ type="phone"]:focus,
.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #0bab9b;
}

.box input[type="submit"],
.box input[type="reset"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0bdbc6;
    padding: 14px 40px;

    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type="submit"]:hover,
.box input[type="reset"]:hover {
    background: linear-gradient(#04d3be, #08612b);
    transition: 1s;
}

::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 80%; 
  }